WPF_Client/WPF_RON/Connected Services/ServiceReferenceMovieAndShow/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PermissionLevel" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="MovieList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieList" nillable="true" type="tns:MovieList" />
  <xs:complexType name="Movie">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="About" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MovieCategory" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="MovieLength" type="xs:int" />
          <xs:element minOccurs="0" name="MovieName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="RateMovieList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateMovie" nillable="true" type="tns:RateMovie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateMovieList" nillable="true" type="tns:RateMovieList" />
  <xs:complexType name="RateMovie">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Movie" nillable="true" type="tns:Movie" />
          <xs:element minOccurs="0" name="Stars" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RateMovie" nillable="true" type="tns:RateMovie" />
  <xs:complexType name="ShowList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Show" nillable="true" type="tns:Show" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowList" nillable="true" type="tns:ShowList" />
  <xs:complexType name="Show">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ShowCategory" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="ShowDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Show" nillable="true" type="tns:Show" />
  <xs:complexType name="RateShowList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RateShow" nillable="true" type="tns:RateShow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateShowList" nillable="true" type="tns:RateShowList" />
  <xs:complexType name="RateShow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Show" nillable="true" type="tns:Show" />
          <xs:element minOccurs="0" name="Stars" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RateShow" nillable="true" type="tns:RateShow" />
  <xs:complexType name="CategoryList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryList" nillable="true" type="tns:CategoryList" />
</xs:schema>